<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title class="myfont"></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_234130_nem7eskcrkpdgqfr.css">
    <link rel="stylesheet" type="text/css" href="../../css/plugIn/schedule.css" />
    <link rel="stylesheet" type="text/css" href="../../css/newBoard/style/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/newBoard/style/shareInfo.css" />
    <link rel="stylesheet" type="text/css" href="https://webapi.amap.com/ui/1.0/ui/geo/DistrictExplorer/examples/area.css">
    <link rel="icon" href="../../img/fontIcon/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="../../js/newBoard/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../../js/newBoard/public.js"></script>
    <script type="text/javascript" src="../../js/newBoard/echarts.js"></script>
    <script type="text/javascript" src="../../js/newBoard/scroll.js"></script>
</head>
<body>

<div id="overall" class="overall">
    <div class="main">
        <div class="allMap">
            <div id="container"></div>
        </div>
        <div class="markerGuide">
            <div class="markerGuideChild">
                <p>车辆标记点位置：</p>
                <div class="input-item">
                    <button style="margin-right: 15px;" v-on:click="showPositionType('fromLatLng')">发货地位置</button>
                    <button v-on:click="showPositionType('toLatLng')">收货地位置</button>
                </div>
            </div>
        </div>

        <!--<div class="dateQuery">
            <div>
                <input class="startTimeSpan" type="text" placeholder="当前查询日期">
                <div class="boxshaw" id="startTime">

                </div>
            </div>
            <span class="dateChangeBtn" v-on:click="dateChange()">切换日期</span>
        </div>-->

        <div class="header">
            <p class="line1"></p>
            <p class="line2"></p>
            <div class="hTxt myfont"></div>
            <p class="line3"></p>
        </div>
        <!--派送任务订单列表-->
        <div class="left">
            <div class="leftMain">
                <div class="littleBor"></div><div class="littleBor"></div><div class="littleBor"></div><div class="littleBor"></div>
                <div class="orderHeader">
                    <p>共享订单</p>
                    <span title="闭合" v-on:click="closeCoverDiv('left')"><<</span>
                </div>
                <div class="orderBody">
                    <div class="title">
                        <ul>
                            <li style="width: 25%;">单号</li>
                            <li style="width: 5%;">性质</li>
                            <li style="width: 25%;">件 / 毛 / 体</li>
                            <li style="width: 23%;">发货时间</li>
                            <li style="width: 10%;">估值</li>
                            <li style="width: 12%;">操作</li>
                        </ul>
                    </div>
                    <div class="includeList includeList1">
                        <div class="list">
                            <ul v-for="(stoOrderInfoItem,index) in stoOrderInfoList">
                                <div class="includelistLi">
                                    <li style="display: none">{{stoOrderInfoItem.omOrderId}}</li>
                                    <li v-bind:title="stoOrderInfoItem.orderNo" style="cursor: pointer;width: 25%;">{{stoOrderInfoItem.orderNo}}</li>
                                    <li style="width: 5%;">{{stoOrderInfoItem.orderNature | transOrderNature}}</li>
                                    <li style="width: 25%;">{{stoOrderInfoItem.totalQty}}件 {{stoOrderInfoItem.totalWeight}}kg {{stoOrderInfoItem.totalVolume}}m³</li>
                                    <li style="width: 23%;">{{stoOrderInfoItem.completeTime | timestampToTime }}</li>
                                    <li style="width: 10%;">800元</li>
                                    <li style="width: 12%;">
                                        <button v-on:click="showOrderInfo(index)">详情</button>
                                        <button v-on:click="grabOrder(stoOrderInfoItem)" style="background: #00C2B1;margin-left: 2px;">抢单</button>
                                    </li>
                                </div>
                                <div class="includeAdd">
                                    <div>
                                        <p>{{stoOrderInfoItem.sfrPartyName}}<span>（{{stoOrderInfoItem.sfrAddress}}）</span></p>
                                        <img src="../../img/carriage_arrow.png" alt="">
                                        <p>{{stoOrderInfoItem.stoPartyName}}<span>（{{stoOrderInfoItem.stoAddress}}）</span></p>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="showDivPoint showLeftPoint" v-on:click="openCoverDiv('left')"></div>

        <!--派送任务车次列表-->
        <div class="right">
            <div class="rightMain">
                <div class="littleBor"></div><div class="littleBor"></div><div class="littleBor"></div><div class="littleBor"></div>
                <div class="orderHeader">
                    <span title="闭合" v-on:click="closeCoverDiv('right')">>></span>
                    <p>共享车辆</p>
                </div>
                <div class="orderBody">
                    <div class="title">
                        <ul>
                            <!--<li style="width: 25%;">单号</li>-->
                            <li style="width: 12%;">承运商</li>
                            <li style="width: 12%;">车牌号</li>
                            <li style="width: 6%;">性质</li>
                            <li style="width: 12%;">信息</li>
                            <!--<li style="width: 8%;">联系人</li>-->
                            <!--<li style="width: 10%;">设备名称</li>-->

                            <li style="width: 17%;">长宽高（m）</li>
                            <li style="width: 6%;">载重</li>
                            <li style="width: 25%;">共享时间</li>
                            <li style="width: 8%;">价格</li>
                            <li style="width: 13%;">操作</li>
                        </ul>
                    </div>
                    <div class="includeList includeList2">
                        <div class="list">
                            <ul v-for="(sfoOrderInfoItem,index) in sfoOrderInfoList" class="includeListUl">
                                <div class="includelistLi">
                                    <li style="display: none">{{sfoOrderInfoItem.omOrderId}}</li>
                                    <!--<li style="width: 25%;">{{sfoOrderInfoItem.orderNo}}</li>-->
                                    <li style="width: 12%;">{{sfoOrderInfoItem.carPartyName}}</li>
                                    <li style="width: 12%;">{{sfoOrderInfoItem.carDrvEqpNo}}</li>
                                    <li style="width: 6%;">
                                        <p v-for="eqpNatureItem in selectListData.eqpNatureList" v-if="eqpNatureItem.code == sfoOrderInfoItem.carEqpNature">{{eqpNatureItem.text}}</p>
                                    </li>
                                    <li style="width: 12%;">{{sfoOrderInfoItem.carEqpBrand}}{{sfoOrderInfoItem.carEqpSpec}}</li>
                                    <!--<li style="width: 8%;">{{sfoOrderInfoItem.imgContactName}}</li>-->
                                    <!--<li style="width: 10%;">{{sfoOrderInfoItem.carEqpName}}</li>-->
                                    <li style="width: 17%;">{{sfoOrderInfoItem.carEqpLength}}/{{sfoOrderInfoItem.carEqpWidth}}/{{sfoOrderInfoItem.carEqpHeight}}</li>
                                    <li style="width: 6%;">
                                        <span v-if="sfoOrderInfoItem.eqpStr1">{{sfoOrderInfoItem.eqpStr1}}</span>
                                        <span v-if="!sfoOrderInfoItem.eqpStr1">--</span>
                                    </li>
                                    <li style="width: 25%;">
                                        <span v-for="(dtmInfo,index) in sfoOrderInfoItem.dtmList"><p>{{dtmInfo.dtmTime| timestampToTime1}} -{{dtmInfo.dtmTime1| timestampToTime1}}</p></span>
                                    </li>
                                    <li style="width: 8%;">面议</li>
                                    <li style="width: 13%;">
                                        <button v-on:click="showClassInfo(index)">详情</button>
                                        <button v-on:click="popupOrderTimeCheck(sfoOrderInfoItem)" style="background: #00C2B1;margin-left: 2px;">预定</button>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="showDivPoint showRightPoint" v-on:click="openCoverDiv('right')"></div>

        <div class="footer">
            <p>
                <span>订单总数：{{stoOrderInfoList.length}}&nbsp;&nbsp;&nbsp;</span>
                <span>班次总数：{{sfoOrderInfoList.length}}&nbsp;&nbsp;&nbsp;</span>
                <span>共享时间：--&nbsp;&nbsp;</span>
            </p>
        </div>

        <!--订单详情-->
        <div class="detailConDiv detailOrderDiv">
            <div class="detailConhead">
                <p>订单详情</p>
                <span v-on:click="closeDetailOrder()">×</span>
            </div>
            <div class="detailConBody">
                <div class="reportMessagesCon">
                    <p>发货信息：</p>
                    <ul>
                        <li>发货商：<span>{{stoOrderDetail.sfrPartyName}}</span></li>
                        <li>发货地址：<span v-bind:title="stoOrderDetail.sfrAddress">{{stoOrderDetail.sfrAddress}}</span></li>
                        <li>发货时间：<span>{{stoOrderDetail.completeTime | timestampToTime}}</span></li>
                    </ul>
                </div>
                <div class="reportMessagesCon">
                    <p>收货信息：</p>
                    <ul>
                        <li>收货商：<span>{{stoOrderDetail.stoPartyName}}</span></li>
                        <li style="width: 50%;">收货地址：<span v-bind:title="stoOrderDetail.stoAddress">{{stoOrderDetail.stoAddress}}</span></li>
                    </ul>
                </div>
                <div class="reportMessagesCon">
                    <p>其它：</p>
                    <ul>
                        <li>单号：<span>{{stoOrderDetail.orderNo}}</span></li>
                        <li>性质：<span>{{stoOrderDetail.orderNature | transOrderNature}}</span></li>
                        <li>件 / 毛 / 体：<span>{{stoOrderDetail.totalQty}}件 {{stoOrderDetail.totalWeight}}kg {{stoOrderDetail.totalVolume}}m³</span></li>
                        <li>估值：<span>800 元</span></li>
                        <li>备注：
                            <span v-if="stoOrderDetail.remark">{{stoOrderDetail.remark}}</span>
                            <span v-if="!stoOrderDetail.remark">暂无</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--班次详情-->
        <div class="detailConDiv detailClassDiv">
            <div class="detailConhead">
                <p>班次详情</p>
                <span v-on:click="closeDetailClass()">×</span>
            </div>
            <div class="detailConBody">
                <div class="reportMessagesCon">
                    <p>承运商信息：</p>
                    <ul>
                        <li>名称：<span>{{sfoOrderDetail.carPartyName}}</span></li>
                        <!--<li>代码：<span>{{sfoOrderDetail.carPartyCode}}</span></li>-->
                        <li>联系人：<span>{{sfoOrderDetail.imgContactName}}</span></li>
                        <li>联系电话：<span>{{sfoOrderDetail.imgContactTel}}</span></li>
                    </ul>
                </div>
                <div class="reportMessagesCon">
                    <p>司机信息：</p>
                    <ul>
                        <li>姓名：<span>{{sfoOrderDetail.carContactName}}</span></li>
                        <li>联系电话：<span>{{sfoOrderDetail.carContactTel}}</span></li>
                    </ul>
                </div>
                <div class="reportMessagesCon">
                    <p>设备信息：</p>
                    <ul>
                        <li>车牌号：<span>{{sfoOrderDetail.carEqpName}}</span></li>
                        <li>长 / 宽 / 高：<span>{{sfoOrderDetail.carEqpLength}}m {{sfoOrderDetail.carEqpWidth}}m {{sfoOrderDetail.carEqpHeight}}m</span></li>
                        <li>载重：<span>{{sfoOrderDetail.eqpStr1}} kg</span></li>
                    </ul>
                    <ul>
                        <li>品牌：<span>{{sfoOrderDetail.carEqpBrand}}</span></li>
                        <li>性质：<span v-for="eqpNatureItem in selectListData.eqpNatureList" v-if="eqpNatureItem.code == sfoOrderDetail.carEqpNature">{{eqpNatureItem.text}}</span></li>
                        <li>型号：<span>{{sfoOrderDetail.carEqpSpec}}</span></li>
                    </ul>
                </div>
                <div class="reportMessagesCon">
                    <p>其它：</p>
                    <ul>
                        <li>班次号：<span>{{sfoOrderDetail.orderNo}}</span></li>
                        <li>价格：<span>面议</span></li>
                        <li>备注：
                            <span v-if="sfoOrderDetail.remark">{{sfoOrderDetail.remark}}</span>
                            <span v-if="!sfoOrderDetail.remark">暂无</span>
                        </li>
                        <li  style="width: 350px">
                            <p>共享时间：</p>
                            <div style="width: 350px">
                                <span v-for="(dtmInfo,index) in sfoOrderDetail.dtmList"><p>{{dtmInfo.dtmTime| timestampToTime}} -{{dtmInfo.dtmTime1| timestampToTime}}</p></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--预订车辆选择时间弹出框-->
        <div class="detailConDiv orderTimeCheckLayer">
            <div class="detailConhead">
                <p>共享时间</p>
                <span v-on:click="closeOrder()">×</span>
            </div>
            <div class="detailConBody">
                <div class="reportMessagesCon" @click='checkedAll'>
                    <ul class="reportMesUl">
                        <li>
                            <input type="checkbox" :checked="this.checkDtmInfoList.length == this.sfoDtmInfoList.length">
                            <span>&nbsp;&nbsp;全选</span>
                        </li>
                        <li>
                            <p>开始时间</p>
                        </li>
                        <li>
                            <p>结束时间</p>
                        </li>
                        <li>
                            <p>状态</p>
                        </li>
                    </ul>
                </div>
                <div class="reportMessagesCon" v-for="(dtmInfo,index) in sfoDtmInfoList">
                    <ul class="reportMesUl">
                        <li v-if="dtmInfo.isDefault==1" >
                            <input  disabled="disabled" type="checkbox" @click='checkedOne(dtmInfo.omDtmId)' :checked="checkDtmInfoList.indexOf(dtmInfo.omDtmId)>=0">
                        </li>
                        <li v-else>
                            <input type="checkbox" @click='checkedOne(dtmInfo.omDtmId)' :checked="checkDtmInfoList.indexOf(dtmInfo.omDtmId)>=0">
                        </li>

                        <li>
                            <p>{{dtmInfo.dtmTime | timestampToTime}}</p>
                        </li>
                        <li>
                            <p>{{dtmInfo.dtmTime1 | timestampToTime}}</p>
                        </li>
                        <li v-if="dtmInfo.isDefault==1">已预约</li>
                        <li v-else>未预约</li>
                    </ul>
                </div>
                <div class="reportMessagesCon" style="text-align: center;margin-top: 25px;clear: both;">
                    <span v-on:click="reverseOrder()" class="reportMesBut">确定</span>
                    <span v-on:click="closeOrder()" class="reportMesBut">取消</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/common/env_config.js"></script>
<script type="text/javascript" src="../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../js/lib/schedule.js"></script>
<script type="text/javascript">
    document.write("<s" + "cript type='text/javascript' src='../../js/common/public.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='https://webapi.amap.com/maps?v=1.4.11&key=" + AmapQdKey + "'></s" + "cript>");
</script>
<script type="text/javascript" src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript" src="../../js/newBoard/shareInfo.js"></script>
</body>
</html>
