<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>产品管理-OMS订单管理系统</title>
    <link rel="icon" href="../../img/fontIcon/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../../js/common/env_config.js"></script>
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/common.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/style.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/popup.css?v=" + pageVerson + "'/>");
    </script>
</head>
<body>

<div class="overall" id="overall" v-cloak>
    <div class="myOverall">
        <!-- header start-->
        <div class="adsLeft">

        </div>
        <!-- header end-->

        <!-- adsContent start-->
        <div class="adsContent">
            <div class="header">

            </div>
            <div class="adsRight">
                <!-- 顶部操作、搜索条件、列表   start -->
                <div class="activityDshBoard template" id="activityDshBoard">
                    <div class="adsRightCon">
                        <div class="adsRightConMain">
                            <ul class="textBoxTitle">
                                <li>
                                    <input type="text" v-model="queryParam.prdCode" placeholder="产品代码" />
                                </li>
                                <li>
                                    <input type="text" v-model="queryParam.prdLabel" placeholder="产品名称" />
                                </li>
								<li style="width: 80px;">
									<input type="text" v-model="queryPageSize" placeholder="12条/页" />
								</li>
                                <li class="searchBtn">
                                    <span class="butOperatePermission" buttonCode="QUERY" v-on:click="getSearchVal()">查询</span>
                                </li>
                            </ul>
                            <div class="reportMessages">
                                <table>
                                    <thead>
                                    <tr>
                                        <!--<th>
                                            <div class="selectAll select yes">
                                                <input type="hidden" />
                                            </div>
                                        </th>-->
                                        <th>序号</th>
                                        <!--<th>产品id</th>-->
                                        <th>产品代码</th>
                                        <th>产品名称</th>
                                        <th>产品描述</th>
                                        <th>品牌名称</th>
                                        <th>品类标签</th>
                                        <th>操作</th>
                                        <th>更新时间</th>
                                        <th>创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(tableOrderItem,index) in tableOrderList" class="see">
                                        <!--<td>
                                            <div class="select yes">
                                                <input type="hidden" />
                                            </div>
                                        </td>-->
                                        <td v-if="currentPage == 1">
                                            <p>{{index+1}}</p>
                                        </td>
                                        <td v-if="currentPage != 1">
                                            <p>{{(index+1)+((currentPage-1)*multipleNum)}}</p>
                                        </td>
                                        <!--<td>
                                            <p>{{tableOrderItem.pdPrdId}}</p>
                                        </td>-->
                                        <td>
                                            <p>{{tableOrderItem.prdCode}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.prdLabel}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.prdDesc}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.brandLabel}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.catLabel}}</p>
                                        </td>
                                        <td>
                                            <span class="btn btn-details visible butOperatePermission" buttonCode="DETAIL" btn="newActivityDshBoardBtn" v-on:click="getOrderDetails('产品详情',tableOrderItem)">详情</span>
                                            <span class="btn btn-edit visible butOperatePermission" buttonCode="UPDATE" btn="newActivityDshBoardBtn" v-on:click="changeOrderDetails('产品信息修改',tableOrderItem)">修改</span>
                                            <span class="btn btn-logistics visible butOperatePermission" buttonCode="DELETE" btn="logisticsInfoBtn" v-on:click="deleteOrderDetails(tableOrderItem)">删除</span>
                                        </td>
                                        <td>{{tableOrderItem.updateTime | timestampToTime}}</td>
                                        <td>{{tableOrderItem.createTime | timestampToTime}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="paging">
                                    <p class="totalPages">共{{pageList.length}}页/{{totalList.length}}条</p>
                                    <div class="pagingBox">
                                        <span v-if="currentPage != 1" v-on:click="changePage(currentPage-1,'up')"><a href="javascript:;">«</a></span>
                                        <div class="pagingCon">
                                            <ul class="pagination">
                                                <li v-for="pageItem in pageList" v-on:click="changePage(pageItem,'current')"><a v-bind:class="{'active': pageItem == currentPage }" href="javascript:;">{{pageItem}}</a></li>
                                            </ul>
                                        </div>
                                        <span v-if="pageList.length != 0 && currentPage != pageList.length" v-on:click="changePage(currentPage+1,'down')"><a href="javascript:;">»</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 顶部操作、搜索条件、列表   end -->

                <!--  新增、详情、修改   start -->
                <div class="newActivityDshBoard template" id="newAdsActivityManage">
                    <div class="adsRightCon">
                        <div class="adsRightConList">
                            <div class="adsRightConMatter">

                                <div class="deliveryPointInf contactInf">
                                    <!--产品基本信息-->
                                    <div class="adsRightConItem">
                                        <p class="adsRightConTitle">产品基本信息</p>
                                        <!--选择品牌-->
                                        <ul class="adsRightConInp">
                                            <li class="chooseLi" v-if="clickBtnType != 'detail'" v-on:click="selectSomeModel('0')">
                                                <span class="packageGoodsBtn">选择品牌</span>
                                            </li>
                                            <li>
                                                <span class="txt">品牌代码</span>
                                                <p class="inp">
                                                    <input disabled type="text" v-model="itemSingle0.brandCode" placeholder="品牌代码" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">品牌名称</span>
                                                <p class="inp">
                                                    <input disabled type="text" v-model="itemSingle0.brandLabel" placeholder="品牌名称" />
                                                </p>
                                            </li>
                                        </ul>
                                        <!--选择品类-->
                                        <ul class="adsRightConInp">
                                            <li class="chooseLi" v-if="clickBtnType != 'detail'" v-on:click="selectSomeModel('1')">
                                                <span class="packageGoodsBtn">选择品类</span>
                                            </li>
                                            <li>
                                                <span class="txt">品类代码</span>
                                                <p class="inp">
                                                    <input disabled type="text" v-model="itemSingle1.catCode" placeholder="品类代码" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">品类标签</span>
                                                <p class="inp">
                                                    <input disabled type="text" v-model="itemSingle1.catLabel" placeholder="品类标签" />
                                                </p>
                                            </li>
                                        </ul>
                                        <!--产品基本信息-->
                                        <ul class="adsRightConInp">
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>产品代码</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.prdCode" placeholder="产品代码" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>产品名称</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.prdLabel" placeholder="产品名称" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">产品型号</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.model" placeholder="产品型号" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">产品条码号</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.prdBarCode" placeholder="产品条码号" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">客户自编码</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.prdNo" placeholder="客户自编码" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">产品描述</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="itemSingle.prdDesc" placeholder="产品描述" />
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--产品属性属性值-->
                                    <div class="adsRightConItem">
                                        <p class="adsRightConTitle">产品属性信息</p>
                                        <ul class="adsRightConInp" v-for="(propValueModel,index) in propValueModelList">
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>属性</span>
                                                <p class="inp">
                                                    <select v-bind:disabled="isDisable" v-model="propValueModel.pdSpecId" v-on:change="chooseOneItemAttr(itemAttrLists,propValueModel.pdSpecId,index)" name="">
                                                        <option value="">请选择</option>
                                                        <option v-for="itemAttr in itemAttrLists" v-bind:value="itemAttr.pdSpecId">{{itemAttr.specLabel}}</option>
                                                    </select>
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>属性值</span>
                                                <p class="inp">
                                                    <select v-bind:disabled="isDisable" v-model="propValueModel.pdSpecValueId" v-on:change="chooseOneItemAttrVal(itemAttrValLists,propValueModel.pdSpecValueId,index)" name="">
                                                        <option value="">请选择</option>
                                                        <option v-for="itemAttrVal in itemAttrValLists" v-bind:value="itemAttrVal.pdSpecValueId">{{itemAttrVal.specValue}}</option>
                                                    </select>
                                                </p>
                                                <span class="chooseIsDefault addContactBtn" v-if="clickBtnType != 'detail'" v-on:click="delPropValueModelFun(index)" style="cursor: pointer;">- 商品属性</span>
                                            </li>
                                        </ul>
                                        <div v-if="clickBtnType != 'detail'">
                                            <p class="addContactBtn" v-on:click="addPropValueModelFun()">+ 产品属性</p>
                                        </div>
                                    </div>
                                    <!--同级产品-->
                                    <div class="adsRightConItem" v-if="clickBtnType == 'detail'">
                                        <p class="adsRightConTitle">同级产品</p>
                                        <div class="reportMessages" style="padding-top: 25px;">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>产品代码</th>
                                                    <th>产品名称</th>
                                                    <th>产品描述</th>
                                                    <th>品牌名称</th>
                                                    <th>品类标签</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="item in equallyPrdLists">
                                                    <td>
                                                        <p>{{item.prdCode}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdDesc}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.brandLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.catLabel}}</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--上级产品-->
                                    <div class="adsRightConItem" v-if="clickBtnType == 'detail'">
                                        <p class="adsRightConTitle">上级产品</p>
                                        <div class="reportMessages" style="padding-top: 25px;">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>产品代码</th>
                                                    <th>产品名称</th>
                                                    <th>产品描述</th>
                                                    <th>品牌名称</th>
                                                    <th>品类标签</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="item in rootPrdLists">
                                                    <td>
                                                        <p>{{item.prdCode}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdDesc}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.brandLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.catLabel}}</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--下级产品-->
                                    <div class="adsRightConItem" v-if="clickBtnType == 'detail'">
                                        <p class="adsRightConTitle">下级产品</p>
                                        <div class="reportMessages" style="padding-top: 25px;">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>产品代码</th>
                                                    <th>产品名称</th>
                                                    <th>产品描述</th>
                                                    <th>品牌名称</th>
                                                    <th>品类标签</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="item in leafPrdLists">
                                                    <td>
                                                        <p>{{item.prdCode}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.prdDesc}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.brandLabel}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{item.catLabel}}</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="addNewOrderBot addNewContactBot">
                                    <div class="searchBtn" v-if="clickBtnType == 'add'">
                                        <span v-on:click="saveNewOrderInfo()">保存</span>
                                    </div>
                                    <div class="searchBtn" v-if="clickBtnType == 'edit'">
                                        <span v-on:click="editOrderInfo()">保存</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  新增、详情、修改  end-->
            </div>
        </div>
        <!-- adsContent end-->
    </div>

    <div class="maskLayer" id="someSelectModel">
        <div class="popup">
            <div class="popupCon">
                <h3 class="popupTitle">
                    <span v-if="modelType == '0'">全部品牌</span>
                    <span v-if="modelType == '1'">全部品类</span>
                    <a href="javascript:;" v-on:click="closeMaskLayer()"><img src="../../img/windowicon/bar_icon_close.png" alt="" /></a>
                </h3>
                <div class="popupDpList">
                    <ul class="popupDpListDiv" v-if="modelType == '0'">
                        <li>
                            <input type="text" v-model="queryParamModel0.pdBrandId" placeholder="品牌id" />
                        </li>
                        <li>
                            <input type="text" v-model="queryParamModel0.brandCode" placeholder="品牌代码" />
                        </li>
                        <li>
                            <input type="text" v-model="queryParamModel0.brandLabel" placeholder="品牌名称" />
                        </li>
                        <li class="searchBtn1" v-on:click="getSearchModelVal0()">
                            <span>查询</span>
                        </li>
                    </ul>
                    <ul class="popupDpListDiv" v-if="modelType == '1'">
                        <li>
                            <input type="text" v-model="queryParamModel1.pdCatId" placeholder="品类id" />
                        </li>
                        <li>
                            <input type="text" v-model="queryParamModel1.catCode" placeholder="品类代码" />
                        </li>
                        <li>
                            <input type="text" v-model="queryParamModel1.catLabel" placeholder="品类标签" />
                        </li>
                        <li class="searchBtn1" v-on:click="getSearchModelVal1()">
                            <span>查询</span>
                        </li>
                    </ul>
                    <table v-if="modelType == '0'">
                        <thead>
                        <tr>
                            <th>品牌id</th>
                            <th>品牌代码</th>
                            <th>品牌名称</th>
                            <th>品牌描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in modelList0" v-on:click="selectOneFun0(item,index)">
                            <td>
                                <p>{{item.pdBrandId}}</p>
                            </td>
                            <td>
                                <p>{{item.brandCode}}</p>
                            </td>
                            <td>
                                <p>{{item.brandLabel}}</p>
                            </td>
                            <td>
                                <p>{{item.brandDesc}}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table v-if="modelType == '1'">
                        <thead>
                        <tr>
                            <th>品类id</th>
                            <th>品类代码</th>
                            <th>品类标签</th>
                            <th>品类描述</th>
                            <th>父级品类id</th>
                            <th>是否根类目</th>
                            <th>是否末级类目</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in modelList1" v-on:click="selectOneFun1(item,index)">
                            <td>
                                <p>{{item.pdCatId}}</p>
                            </td>
                            <td>
                                <p>{{item.catCode}}</p>
                            </td>
                            <td>
                                <p>{{item.catLabel}}</p>
                            </td>
                            <td>
                                <p>{{item.catDesc}}</p>
                            </td>
                            <td>
                                <p>{{item.parentCatId}}</p>
                            </td>
                            <td>
                                <p v-if="item.isRootCat == '1'">是</p>
                                <p v-if="item.isRootCat == '0'">否</p>
                            </td>
                            <td>
                                <p v-if="item.isLeafCat == '1'">是</p>
                                <p v-if="item.isLeafCat == '0'">否</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../../js/lib/vue.js"></script>
<script type="text/javascript">
    document.write("<s" + "cript type='text/javascript' src='../../js/common/publicHtml.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/public.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/htmlSelect.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/pid/productManage.js?v=" + pageVerson + "'></s" + "cript>");
</script>

</body>
</html>
