<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>配送订单-OMS订单管理系统</title>
    <link rel="icon" href="../../img/fontIcon/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../../js/common/env_config.js"></script>
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/common.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/style.css?v=" + pageVerson + "'/>");
    </script>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_234130_nem7eskcrkpdgqfr.css">
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../../css/plugIn/schedule.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/popup.css?v=" + pageVerson + "'/>");
    </script>
</head>
<body>

<div class="overall" id="overall" v-cloak>
    <div class="myOverall">
        <!-- header start-->
        <div class="adsLeft">

        </div>
        <!-- header end-->

        <!-- adsContent start-->
        <div class="adsContent">
            <div class="header">

            </div>
            <div class="adsRight">
                <!-- 订单管理   -->
                <div class="activityDshBoard template" id="activityDshBoard">
                    <div class="adsRightCon">
                        <div class="adsRightConMain">
                            <ul class="textBoxTitle">
                                <li>
                                    <input type="text" v-model="queryParam.customerOriginalNo" placeholder="请输入原单号" />
                                </li>
                                <li>
                                    <input type="text" v-model="queryParam.str1" placeholder="请输入单号" />
                                </li>

                                <li>
                                    <input type="text" v-model="queryParam.sfrPartyName" placeholder="请输入委托商" />
                                </li>
                                <li>
                                    <input type="text" v-model="queryParam.stoPartyName" placeholder="请输入收货商" />
                                </li>
                                <li>
                                    <select v-model="queryParam.completeStatus" name="" id="">
                                        <option value="">请选择完成状态</option>
                                        <option v-for="completeStatusItem in selectListData.completeStatusList" v-bind:value="completeStatusItem.code">{{completeStatusItem.text}}</option>
                                    </select>
                                </li>
                                <li>
                                    <select v-model="queryParam.exceptionStatus" name="" id="">
                                        <option value="">请选择异常状态</option>
                                        <option v-for="exceptionStatusItem in selectListData.exceptionStatusList" v-bind:value="exceptionStatusItem.code">{{exceptionStatusItem.text}}</option>
                                    </select>
                                </li>
                                <li>
                                    <select v-model="queryParam.actCode" name="" id="">
                                        <option value="">请选择动态代码</option>
                                        <option v-for="actItem in selectListData.actLists" v-bind:value="actItem.actCode">{{actItem.actName}}</option>
                                    </select>
                                </li>

                                <li>
                                    <select v-model="queryParam.activeStatus" name="" id="">
                                        <option value="">请选择激活状态</option>
                                        <option v-for="activeStatusItem in selectListData.activeStatusList" v-bind:value="activeStatusItem.code">{{activeStatusItem.text}}</option>
                                    </select>
                                </li>

                                <!--<li>
                                    <select v-model="queryParam.subtasksStatus" name="" id="">
                                        <option value="">请选择是否已生成派送任务</option>
                                        <option value="1">已生成</option>
                                        <option value="0">未生成</option>
                                    </select>
                                </li>-->

                                <li class="data">
                                    <!--<span class="startTimeSpan">{{startCreatDate}}</span>-->
                                    <input type="text" class="startTimeSpan" placeholder="创建时间--开始时间" />
                                    <div class="boxshaw" id="startTime">

                                    </div>
                                </li>
                                <li class="data">
                                    <input type="text" class="endTimeSpan" placeholder="创建时间--结束时间" />
                                    <div class="boxshaw" id="endTime">

                                    </div>
                                </li>
                                <li style="width: 80px;">
                                    <input type="text" v-model="queryPageSize" placeholder="条/页" />
                                </li>
                                <li class="searchBtn"  style="width: 80px;">
                                    <span class="butOperatePermission" buttonCode="QUERY" v-on:click="getSearchVal()">查询</span>
                                </li>
                                <li class="searchBtn fileUploadLi" style="width: 80px;">
                                    <p class="inputBox butOperatePermission" buttonCode="UPLOAD" v-if="clearShow">
                                        <span>上传文件</span>
                                        <input type="file" name="excelFile" v-on:change="chooseTheFile()" id="excelFile" />
                                    </p>
                                    <p class="txtBox butOperatePermission" buttonCode="UPLOAD">
                                        <span>上传文件</span>
                                    </p>
                                </li>
                                <li class="fileUploadHint" style="border: none; width: 320px;">
                                    *请先下载<a href="/download/oms-ImportOrderInfoExcelDJ v1.0.xlsx">excel模板</a>，按照模板填写。
                                </li>
                            </ul>
                            <div id="schedule-box" class="boxshaw" style="display: none;"></div>
                            <div class="reportMessages">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <input class="checkInp" type="checkbox"  v-on:change="textboxAllSelectionFun($event)"/>
                                        </th>
                                        <th>序号</th>
                                        <th>原单号</th>
                                        <th>单号</th>
                                        <th>当前动作</th>
                                        <th>拆/合</th>
                                        <th>派送任务</th>
                                        <th>发货商</th>
                                        <th>收货商</th>
                                        <th>总件数</th>
                                        <th>完成状态</th>
                                        <th>异常状态</th>
                                        <th>操作</th>
                                        <th>创建时间</th>
                                        <th>要求完成时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(tableOrderItem,index) in tableOrderList" class="see">
                                        <td>
                                            <input class="checkInp" type="checkbox" v-bind:value="tableOrderItem.omOrderId" v-on:change="textboxSelectionFun($event,tableOrderItem)"/>
                                        </td>
                                        <td v-if="currentPage == 1">
                                            <p>{{index+1}}</p>
                                        </td>
                                        <td v-if="currentPage != 1">
                                            <p>{{(index+1)+((currentPage-1)*multipleNum)}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.customerOriginalNo}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.str1 }}</p>
                                        </td>
                                        <td>
                                            <p v-for="actItem in selectListData.actLists" v-if="tableOrderItem.actCode == actItem.actCode">{{actItem.actName}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.orderInd}}</p>
                                        </td>
                                        <td>
                                            <p v-if="tableOrderItem.subtasksStatus == null"></p>
                                            <p v-if="tableOrderItem.subtasksStatus == 0">未生成</p>
                                            <p v-if="tableOrderItem.subtasksStatus == 1">已生成</p>
                                        </td>

                                        <td>
                                            <p>{{tableOrderItem.sfrPartyName}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.stoPartyName}}</p>
                                        </td>
                                        <td>
                                            <p>{{tableOrderItem.totalQty}}</p>
                                        </td>
                                        <td>
                                            <p v-for="completeStatusItem in selectListData.completeStatusList" v-if="completeStatusItem.code == tableOrderItem.completeStatus">{{completeStatusItem.text}}</p>
                                        </td>

                                        <td>
                                            <p v-for="exceptionStatusItem in selectListData.exceptionStatusList" v-if="exceptionStatusItem.code == tableOrderItem.exceptionStatus">{{exceptionStatusItem.text}}</p>
                                        </td>
                                        <td>
                                            <span class="btn btn-details visible butOperatePermission orderDetailBtn" buttonCode="DETAIL" btn="newActivityDshBoardBtn" v-on:click="getOrderDetails('订单详情',tableOrderItem,'0')">详情</span>

                                            <!--<span v-if="tableOrderItem.orderInd != 'normal'" disabled="" class="btn btn-split-y">拆单</span>

                                            <span v-if="tableOrderItem.orderInd == 'normal'" class="btn btn-abnormal see" btn="newActivityDshBoardBtn" v-on:click="getOrderDetails('拆单',tableOrderItem,'1')">拆单</span>
                                            -->
                                            <span class="btn btn-logistics visible butOperatePermission orderLogisticsBtn" buttonCode="ACT_DETAIL" btn="logisticsInfoBtn" v-on:click="getLogisticsInfo(tableOrderItem)">物流</span>
                                            <!--<span class="btn btn-receipt receipt" btn="currentOrderReceiptBtn" v-on:click="getOrderReceipt(tableOrderItem)">回单</span>-->
                                        </td>
                                        <td><p>{{tableOrderItem.createTime | timestampToTime}}</p></td>
                                        <td><p>{{tableOrderItem.completeTime  | timestampToTime}}</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="paging">
                                    <p class="totalPages">共{{pageList.length}}页 /{{totalPagesNum}}条</p>
                                    <div class="pagingBox">
                                        <span v-if="currentPage != 1" v-on:click="changePage(currentPage-1,'up')"><a href="javascript:;">«</a></span>
                                        <div class="pagingCon">
                                            <ul class="pagination">
                                                <li v-for="pageItem in pageList" v-on:click="changePage(pageItem,'current')"><a v-bind:class="{'active': pageItem == currentPage }" href="javascript:;">{{pageItem}}</a></li>
                                            </ul>
                                        </div>
                                        <span v-if="currentPage != pageList.length" v-on:click="changePage(currentPage+1,'down')"><a href="javascript:;">»</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 订单管理   、-->

                <!-- 订单管理-新增   -->
                <div class="newActivityDshBoard template" id="newAdsActivityManage">
                    <div class="adsRightCon">
                        <div class="adsRightConList">
                            <div class="adsRightConMatter">
                                <!--订单基本信息-->
                                <!--<div class="adsRightConItem" v-if="abnormalPage == 1">
                                    <p class="adsRightConTitle">子订单数</p>
                                    <ul class="adsRightConInp">
                                        <li>
                                            <p class="inp">
                                                <input type="text" v-model="splitCount" />
                                            </p>
                                        </li>
                                        <li class="searchBtn">
                                            <span v-on:click="createOrderSplit()">确定</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="adsRightConItem" v-if="isShowSplitList == 1">
                                    <p class="adsRightConTitle">子订单列表</p>
                                    <ul class="adsRightConInp" v-for="orderSplitItem in orderSplitList">
                                        <li>
                                            <span class="txt">子订单id</span>
                                            <p class="inp">
                                                {{orderSplitItem.houseOrderId}}
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">数量</span>
                                            <p class="inp" v-for="orderItemInfo in orderSplitItem.orderItemList">
                                                {{orderItemInfo.qty}}
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="adsRightConInp">
                                        <li class="searchBtn">
                                            <span v-on:click="orderSplitFun()">确定拆单</span>
                                        </li>
                                    </ul>
                                </div>-->

                                <!--订单基本信息-->
                                <div class="adsRightConItem">
                                    <p class="adsRightConTitle">基本信息</p>
                                    <ul class="adsRightConInp">
                                        <li>
                                            <span class="txt">发单方</span>
                                            <p class="inp">
                                                <select v-bind:disabled="isDisable" v-model="orderDetail.orderFrom" name="" id="">
                                                    <option value="">请选择发单方</option>
                                                    <option v-for="orderFormItem in selectListData.orderFromList" v-bind:value="orderFormItem.code">{{orderFormItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">接单方</span>
                                            <p class="inp">
                                                <select v-bind:disabled="isDisable" v-model="orderDetail.orderTo" name="" id="">
                                                    <option value="">请选择发单方</option>
                                                    <option v-for="orderToItem in selectListData.orderToList" v-bind:value="orderToItem.code">{{orderToItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">关联号</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="orderDetail.customerRefNo" type="text" placeholder="请输入关联号" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">状态</span>
                                            <p class="inp">
                                                <select v-bind:disabled="isDisable" v-model="orderDetail.orderType" name="" id="">
                                                    <option value="">请选择状态</option>
                                                    <option v-for="orderTypeItem in selectListData.orderTypeList" v-bind:value="orderTypeItem.code">{{orderTypeItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">要求完成时间</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" size="16" type="text" placeholder="请输入要求完成时间" v-model="orderDetail.completeTime" readonly class="form_datetime">
                                            </p>
                                        </li>

                                        <li v-if="orderDetail.expireTime == null || orderDetail.expireTime ==''">
                                            <span class="txt">订单过期时间</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" size="16" type="text" placeholder="请输入订单过期时间" v-model="orderDetail.expireTime" readonly class="form_datetime">
                                            </p>
                                        </li>

                                        <li v-if="orderDetail.expireTime != null || orderDetail.expireTime !=''">
                                            <span class="txt">订单过期时间</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" size="16" type="text" readonly class="form_datetime">
                                            </p>
                                        </li>

                                        <li class="unitsLi">
                                            <span class="txt">总数量</span>
                                            <p class="inp">
                                                <input class="width85" v-bind:disabled="isDisable"  v-model="orderDetail.totalQty" type="text" placeholder="总数量" />
                                                <select class="width85" v-bind:disabled="isDisable" v-model="orderDetail.qtyUnit" name="" id="">
                                                    <option value="">请选择单位</option>
                                                    <option v-for="qtyUnitItem in selectListData.qtyUnitList" v-bind:value="qtyUnitItem.code">{{qtyUnitItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li class="unitsLi">
                                            <span class="txt">总重量</span>
                                            <p class="inp">
                                                <input class="width85" v-bind:disabled="isDisable" v-model="orderDetail.totalWeight" type="text" placeholder="总重量" />
                                                <select class="width85" v-bind:disabled="isDisable" v-model="orderDetail.weightUnit" name="" id="">
                                                    <option value="">请选择单位</option>
                                                    <option v-for="weightUnitItem in selectListData.weightUnitList" v-bind:value="weightUnitItem.code">{{weightUnitItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li class="unitsLi">
                                            <span class="txt">总体积</span>
                                            <p class="inp">
                                                <input class="width85" v-bind:disabled="isDisable" v-model="orderDetail.totalVolume" type="text" placeholder="总体积" />
                                                <select class="width85" v-bind:disabled="isDisable" v-model="orderDetail.volumeUnit" name="" id="">
                                                    <option value="">请选择单位</option>
                                                    <option v-for="volumeUnitItem in selectListData.volumeUnitList" v-bind:value="volumeUnitItem.code">{{volumeUnitItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li class="unitsLi">
                                            <span class="txt">总金额</span>
                                            <p class="inp">
                                                <input class="width85" v-bind:disabled="isDisable" v-model="orderDetail.totalAmount" type="text" placeholder="总金额" />
                                                <select class="width85" v-bind:disabled="isDisable" v-model="orderDetail.currency" name="" id="">
                                                    <option value="">请选择单位</option>
                                                    <option v-for="currencyItem in selectListData.currencyList" v-bind:value="currencyItem.code">{{currencyItem.text}}</option>
                                                </select>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">备注</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="orderDetail.remark" type="text" placeholder="请输入备注" />
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <!--发货商信息-->
                                <div class="adsRightConItem">
                                    <p class="adsRightConTitle">发货商信息</p>
                                    <ul class="adsRightConInp">
                                        <li>
                                            <span class="txt">发货商名称</span>
                                            <p class="inp">
                                                <input type="text" v-bind:disabled="isDisable" v-model="shipperParty.partyName" placeholder="发货合作方"/>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">发货商联系人</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyContact.contactName" type="text" placeholder="联系人姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">发货商电话</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyContact.contactTel" type="text" placeholder="联系人电话" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">地址简称</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" type="text" v-model="shipperPartyLocation.street" placeholder="地址简称" class="form-control"/>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">详细地址</span>
                                            <p class="inp">
                                                <input  v-bind:disabled="isDisable" v-model="shipperPartyLocation.address" type="text" placeholder="详细地址" style="width: 300px;" />
                                            </p>
                                        </li>
                                        <!--<li>
                                            <span class="txt">邮编</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyLocation.postCode" type="text" placeholder="邮编" />
                                            </p>
                                        </li>-->
                                        <!--<li>
                                            <span class="txt">位置</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyLocation.latLng" type="text" placeholder="位置" />
                                            </p>
                                        </li>-->
                                        <li>
                                            <span class="txt">发货地联系人</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyLocationContact.contactName" type="text" placeholder="联系人姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">联系电话</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="shipperPartyLocationContact.contactTel" type="text" placeholder="联系电话" />
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <!--收货商信息-->
                                <div class="adsRightConItem">
                                    <p class="adsRightConTitle">收货商信息</p>
                                    <ul class="adsRightConInp">
                                        <li>
                                            <span class="txt">收货商名称</span>
                                            <p class="inp">
                                                <input  v-bind:disabled="isDisable" type="text" v-model="receiptParty.partyName" class="form-control" placeholder="收货合作方" disabled/>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">收货商联系人</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyContact.contactName" type="text" placeholder="联系人姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">收货商电话</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyContact.contactTel" type="text" placeholder="联系人电话" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">地址简称</span>
                                            <p class="inp">
                                                <input type="text" v-model="receiptPartyLocation.street" placeholder="地址简称" class="form-control"/>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">详细地址</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyLocation.address" type="text" placeholder="详细地址" style="width: 300px;" />
                                            </p>
                                        </li>
                                        <!--<li>
                                            <span class="txt">邮编</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyLocation.postCode" type="text" placeholder="邮编" />
                                            </p>
                                        </li>-->
                                        <!--<li>
                                            <span class="txt">位置</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyLocation.latLng" type="text" placeholder="请输入位置" />
                                            </p>
                                        </li>-->
                                        <li>
                                            <span class="txt">收货地联系人</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyLocationContact.contactName" type="text" placeholder="联系人姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">联系电话</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="receiptPartyLocationContact.contactTel" type="text" placeholder="联系人电话" />
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <!--承运商信息-->
                                <div class="adsRightConItem" v-if="isShippingOrder">
                                    <p class="adsRightConTitle">承运商信息</p>
                                    <ul class="adsRightConInp">
                                        <li>
                                            <span class="txt">承运商名称</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrier.partyName" type="text" placeholder="承运商名称" />

                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">承运商联系人</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierContact.contactName" type="text" placeholder="联系人姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">承运商电话</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierContact.contactTel"  type="text" placeholder="联系人电话" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">司机姓名</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierDriver.contactName" type="text" placeholder="司机姓名" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">司机手机</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierDriver.contactTel" type="text" placeholder="司机手机" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">设备名称</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierEqp.eqpName" type="text" placeholder="设备名称" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">车牌号</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierEqp.eqpNo"  type="text" placeholder="车牌号" />
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">设备型号</span>
                                            <p class="inp">
                                                <input v-bind:disabled="isDisable" v-model="OrderCarrierEqp.eqpSpec" type="text" placeholder="设备型号" />
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <!--包裹信息-->
                                <div class="adsRightConItem packageGoodsList">
                                    <p class="adsRightConTitle">包裹信息</p>
                                    <div class="reportMessages">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>商品</th>
                                                <th>批次号</th>
                                                <th>单价</th>
                                                <th>总价值</th>
                                                <th>金额单位</th>
                                                <th>数量</th>
                                                <th>体积</th>
                                                <th>重量</th>
                                                <th>商品描述</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="goodsItem in packageGoodsDetails">
                                                <td>
                                                    <p>{{goodsItem.orderItem.itemName}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.lotNo}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.amount}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.unitPrice}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.currency}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.qty}} {{goodsItem.orderItem.qtyUnit}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.volume}} {{goodsItem.orderItem.volumeUnit}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.weight}} {{goodsItem.orderItem.weight}}</p>
                                                </td>
                                                <td>
                                                    <p>{{goodsItem.orderItem.itemDesc}}</p>
                                                </td>

                                                <!--<td>{{tableOrderItem.completeTime | timestampToTime}}</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 订单管理 -新增   、-->

                <!-- 订单管理 -物流  -->
                <div class="logisticsInfo template" id="logisticsInfo">
                    <div class="adsRightCon">
                        <div class="adsRightConList">
                            <div class="adsRightConMatter">
                                <!--订单基本信息-->
                                <div class="adsRightConItem">
                                    <ul class="adsRightConInp">
                                        <li>
                                            <span class="txt">订单号</span>
                                            <p class="inp">
                                                {{orderLogisticsInfo.orderNo}}
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">发货地址</span>
                                            <p class="inp">
                                                {{orderLogisticsInfo.sfrAddress}}
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">收货地址</span>
                                            <p class="inp">
                                                {{orderLogisticsInfo.stoAddress}}
                                            </p>
                                        </li>
                                        <li>
                                            <span class="txt">件毛体</span>
                                            <p class="inp">
                                                {{orderLogisticsInfo.totalQty}} *
                                                {{orderLogisticsInfo.totalWeight}} *
                                                {{orderLogisticsInfo.totalVolume}}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="adsRightConItem">
                                    <div class="adsRightConLogistics">
                                        <div class="logisticsInf">
                                            <div class="logisticsItem">
                                                <h5 class="logisticsItemTitle">当前状态</h5>
                                                <ul>
                                                    <li>
                                                        <span class="txt">状态</span>
                                                        <p class="inp"  v-for="actItem in selectListData.actLists" v-if="actItem.actCode == actCurrentInfo.actCode">
                                                            {{actItem.actName}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <span class="txt">动态时间</span>
                                                        <p class="inp">
                                                            {{actCurrentInfo.actTime  | timestampToTime}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <span class="txt">备注</span>
                                                        <p class="inp">
                                                            {{actCurrentInfo.remark}}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="logisticsItem">
                                                <h5 class="logisticsItemTitle">历史状态</h5>
                                                <ul v-for="actItemInfo in actListInfo">
                                                    <li>
                                                        <span class="txt">状态</span>
                                                        <p class="inp"  v-for="actItem in selectListData.actLists" v-if="actItem.actCode == actItemInfo.actCode">
                                                            {{actItem.actName}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <span class="txt">动态时间</span>
                                                        <p class="inp">
                                                            {{actItemInfo.actTime  | timestampToTime}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <span class="txt">备注</span>
                                                        <p class="inp">
                                                            {{actItemInfo.remark}}
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>

                                        <div class="adsRightConRight">
                                            <div id="container"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 订单管理 -物流   、-->
            </div>
        </div>
        <!-- adsContent end-->

        <div class="ajax-load-pupup1">
            <div class="ajax-load-hint">
                <img src="/img/loading51.gif"/>
                <span>文件下载中，请稍后......</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../js/lib/schedule.js"></script>
<script type="text/javascript" src="../../js/lib/ajaxFileUpload.js"></script>
<script type="text/javascript">
    document.write("<s" + "cript type='text/javascript' src='../../js/common/publicHtml.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/public.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/htmlSelect.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='https://webapi.amap.com/maps?v=1.4.6&key=" + AmapQdKey + "&plugin=AMap.Driving'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/tms/queryOrderInfoDJ.js?v=" + pageVerson + "'></s" + "cript>");
</script>

</body>
</html>






