<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>联系人管理-OMS订单管理系统</title>
	<link rel="icon" href="../../img/fontIcon/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common/env_config.js"></script>
	<script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/common.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/style.css?v=" + pageVerson + "'/>");
        document.write("<link rel='stylesheet' type='text/css' href='../../css/common/popup.css?v=" + pageVerson + "'/>");
	</script>
</head>
<body>

<div class="overall" id="overall" v-cloak>
	<div class="myOverall">
		<!-- header start-->
		<div class="adsLeft">

		</div>
		<!-- header end-->

		<!-- adsContent start-->
		<div class="adsContent">
			<div class="header">

			</div>
			<div class="adsRight">
				<div class="pageHeader">
					<ul class="pageHeaderL">
                        <li><span class="active"><a href="javascript:;">联系人管理</a></span></li>
					</ul>
					<ul class="pageHeaderR">
						<li class="searchBtn">
							<span class="butOperatePermission visible" buttonCode="ADD"  btn="newActivityDshBoardBtn"  v-on:click="addOrderDetails('新增联系人')">新增联系人</span>
						</li>
						<li class="searchBtn">
							<span class="txtBox butOperatePermission" buttonCode="UPLOAD" v-on:click="chooseTheFileType('0')">上传联系人</span>
							<input type="file" name="excelFile" style="display: none;" v-on:change="chooseTheFile()" id="excelFile" />
							<div class="suspend">
								<b>*请先下载<a href="../../download/cdm-ImportContactData v1.2.xlsx">excel模板</a>，按照模板填写。</b>
							</div>
							<div class="triangle"></div>
						</li>
						<!--  // 2019/07/19 注释暂时不用 Dylan-->
						<!--<li class="searchBtn">
							<span class="txtBox butOperatePermission" buttonCode="UPLOAD" v-on:click="chooseTheFileType('1')">上传联系人信息</span>
							<input type="file" name="excelFile" style="display: none;" v-on:change="chooseTheFile()" id="excelFile" />
							<div class="suspend">
								<b>*请先下载<a href="../../download/cdm-ImportContactData v1.2.xlsx">excel模板</a>，按照模板填写。</b>
							</div>
							<div class="triangle"></div>
						</li>-->
					</ul>
					<ul class="pageHeaderBack">
						<li class="visible">
							<img src="../../img/back_2.png" alt="返回上一步">
							<span>返回上一步</span>
						</li>
					</ul>
				</div>
				<div class="adsRightPackage">
					<!-- 订单管理   -->
					<div class="activityDshBoard template" id="activityDshBoard">
						<div class="adsRightCon">
							<div class="adsRightConMain">
								<ul class="textBoxTitle">
									<li>
										<label>联系人类型：</label>
										<select v-model="queryParam.contactType" name="">
											<option value="">联系人类型</option>
											<option  v-for="contactTypeItem in selectListData.contactLists"  v-bind:value="contactTypeItem.code">{{contactTypeItem.text}}</option>
										</select>
									</li>
									<li>
										<label>姓名：</label>
										<input type="text" v-model="queryParam.contactName" placeholder="联系人姓名" />
									</li>
									<li>
										<label>电话：</label>
										<input type="text" v-model="queryParam.contactTel" placeholder="联系人电话" />
									</li>
									<li>
										<label>地址：</label>
										<input type="text" v-model="queryParam.contactAddress" placeholder="联系人地址" />
									</li>
									<li class="searchBtn" style="width: 80px;">
										<span class="butOperatePermission" buttonCode="QUERY" v-on:click="getSearchVal()">查询</span>
									</li>
								</ul>
								<div class="reportMessages">
									<table>
										<thead>
										<tr>
											<!--<th>
												<div class="selectAll select yes">
													<input type="hidden" />
												</div>
											</th>-->
											<th>序号</th>
											<th>联系人类型</th>
											<th>操作</th>
											<th>联系人姓名</th>
											<th>联系人电话</th>
											<th>联系人地址</th>
											<th>关联编码&nbsp;[上级]</th>
											<th>关联名称&nbsp;[上级]</th>
											<th>关联详情&nbsp;[上级]</th>
											<th>创建时间</th>
										</tr>
										</thead>
										<tbody>
										<tr v-for="(tableOrderItem,index) in tableOrderList" orderid="'+orderListData[i].omOrderId+'" class="see">
											<!--<td>
												<div class="select yes">
													<input type="hidden" />
												</div>
											</td>-->
											<td v-if="currentPage == 1">
												<p>{{index+1}}</p>
											</td>
											<td v-if="currentPage == 2">
												<!-- 转换成数字  否则是字符串相加序号这一列顺序就不对 -->
												<p>{{Number(queryPageSize)+index+1}}</p>
											</td>
											<td v-if="currentPage > 2">
												<!-- 每页显示的个数+当前点击的分页-每页显示的个数+index+1 -->
												<p>{{queryPageSize*currentPage-queryPageSize+index+1}}</p>
											</td>
											<td>
												<p v-for="contactTypeItem in selectListData.contactLists" v-if="contactTypeItem.code == tableOrderItem.contactType">{{contactTypeItem.text}}</p>
											</td>
											<td>
												<div class="foldBotton">
													<span class="handleIcon"></span>
													<p>
														<span class="btn btn-details visible butOperatePermission orderDetailBtn"  buttonCode="DETAIL" btn="newActivityDshBoardBtn" v-on:click="getOrderDetails('联系人信息',tableOrderItem)">详情</span>
														<span class="btn btn-edit visible butOperatePermission orderEditBtn"  buttonCode="UPDATE" btn="newActivityDshBoardBtn" v-on:click="changeOrderDetails('修改联系人信息',tableOrderItem)">修改</span>
														<span class="btn btn-logistics visible butOperatePermission orderDeteleBtn"  buttonCode="DELETE" btn="logisticsInfoBtn" v-on:click="deleteOrderDetails(tableOrderItem)">删除</span>
														<span v-if="tableOrderItem.isDefault == 0" class="btn btn-code visible butOperatePermission orderCodeBtn"  buttonCode="DEFAULT" btn="logisticsInfoBtn" v-on:click="defaultOrderDetails(tableOrderItem,'1')">设为默认</span>
														<span v-if="tableOrderItem.isDefault == 1" class="btn btn-abnormal visible butOperatePermission orderSplitBtn"  buttonCode="DEFAULT" btn="logisticsInfoBtn" v-on:click="defaultOrderDetails(tableOrderItem,'0')">取消默认</span>
													</p>
												</div>
											</td>
											<td>
												<p>{{tableOrderItem.contactName}}</p>
											</td>
											<td>
												<p>{{tableOrderItem.contactTel}}</p>
											</td>
											<td>
												<p>{{tableOrderItem.contactAddress}}</p>
											</td>
											<td>
												<p v-if="tableOrderItem.locationCode != null"><span class="tableRemarkSpan">地址编码：</span>{{tableOrderItem.locationCode}}</p>
												<p v-if="tableOrderItem.eqpNo != null"><span class="tableRemarkSpan">设备号：</span>{{tableOrderItem.eqpNo}}</p>
												<p v-if="tableOrderItem.partyCode != null"><span class="tableRemarkSpan">合作商编码：</span>{{tableOrderItem.partyCode}}</p>
											</td>
											<td>
												<p v-if="tableOrderItem.locationName != null"><span class="tableRemarkSpan">地址简称：</span>{{tableOrderItem.locationName}}</p>
												<p v-if="tableOrderItem.eqpName != null"><span class="tableRemarkSpan">设备名称：</span>{{tableOrderItem.eqpName}}</p>
												<p v-if="tableOrderItem.partyName != null"><span class="tableRemarkSpan">合作商名称：</span>{{tableOrderItem.partyName}}</p>
											</td>
											<td>
												<p v-if="tableOrderItem.locationType != null">
													<span v-for="locationTypeItem in selectListData.locationTypeList" v-if="locationTypeItem.code == tableOrderItem.locationType">
														<span class="tableRemarkSpan">地址类型：</span>{{locationTypeItem.text}}
													</span>
												</p>
												<p v-if="tableOrderItem.eqpType != null">
													<span v-for="eqpTypeItem in selectListData.eqpTypeList" v-if="eqpTypeItem.code == tableOrderItem.eqpType">
														<span class="tableRemarkSpan">设备类型：</span>{{eqpTypeItem.text}}
													</span>
												</p>
												<p v-if="tableOrderItem.partyType != null">
													<span v-for="contactTypeItem in selectListData.partyTypeList" v-if="contactTypeItem.code == tableOrderItem.partyType">
														<span class="tableRemarkSpan">合作商类型：</span>{{contactTypeItem.text}}
													</span>
												</p>
											</td>
											<td><p>{{tableOrderItem.createTime | timestampToTime}}</p></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="adsRightFooter">
								<div class="paging">
									<p class="totalPages">共{{pageList.length}}页 /{{totalList.length}}条
										<select v-model="queryPageSize">
											<option value="20">20条/页</option>
											<option value="30">30条/页</option>
											<option value="40">40条/页</option>
											<option value="50">50条/页</option>
											<option value="80">80条/页</option>
											<option value="100">100条/页</option>
										</select>
									</p>
									<div class="pagingBox">
										<span v-if="currentPage != 1" v-on:click="changePage(currentPage-1,'up')"><a href="javascript:;">«</a></span>
										<div class="pagingCon">
											<ul class="pagination">
												<li v-for="pageItem in pageList" v-on:click="changePage(pageItem,'current')"><a v-bind:class="{'active': pageItem == currentPage }" href="javascript:;">{{pageItem}}</a></li>
											</ul>
										</div>
										<span v-if="currentPage != pageList.length" v-on:click="changePage(currentPage+1,'down')"><a href="javascript:;">»</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 联系人管理   、-->

					<!-- 联系人管理-新增   -->
					<div class="newActivityDshBoard template" id="newAdsActivityManage">
						<div class="adsRightCon">
							<div class="adsRightConList">
								<div class="adsRightConMatter">
                                    <!--联系人基本信息-->
                                    <div class="adsRightConItem">
                                        <p class="adsRightConTitle">联系人&nbsp;-&nbsp;基本信息</p>
                                        <ul class="adsRightConInp">
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>合作商编码</span>
                                                <p class="inp">
                                                    <input type="text" v-bind:disabled="isDisable" v-model="partyCode" placeholder="合作商编码" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>联系人类型</span>
                                                <p class="inp">
                                                    <select v-bind:disabled="isDisable" v-model="locationContact.contactType" name="">
                                                        <option value="">联系人类型</option>
                                                        <option v-for="contactTypeItem in selectListData.contactLists" v-bind:value="contactTypeItem.code">{{contactTypeItem.text}}</option>
                                                    </select>
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>姓名</span>
                                                <p class="inp">
                                                    <input type="text" v-bind:disabled="isDisable" v-model="locationContact.contactName" placeholder="姓名" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt"><span class="color_r" v-if="!isDisable">*&nbsp;</span>电话</span>
                                                <p class="inp">
                                                    <input type="text" v-bind:disabled="isDisable" v-model="locationContact.contactTel" placeholder="电话" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">地址</span>
                                                <p class="inp">
                                                    <input type="text" v-bind:disabled="isDisable" v-model="locationContact.contactAddress" placeholder="地址" />
                                                </p>
                                            </li>
                                            <li>
                                                <span class="txt">备注</span>
                                                <p class="inp">
                                                    <input v-bind:disabled="isDisable" type="text" v-model="locationContact.remark" placeholder="备注" />
                                                </p>
                                            </li>
                                        </ul>
                                        <ul style="text-align: center;">
                                            <li class="searchBtn">
                                                <span v-if="clickBtnType == 'add' && savedNewOrderInfo == '0'" v-on:click="saveNewOrderInfo()" style="display: inline-block;">保存</span>
                                                <span v-if="clickBtnType == 'edit'" v-on:click="editOrderInfo()" style="display: inline-block;">保存</span>
                                            </li>
                                        </ul>
                                    </div>
								</div>
							</div>
						</div>
					</div>
					<!-- 订单管理 -新增   、-->
				</div>
			</div>
		</div>
		<!-- adsContent end-->
	</div>
	<div class="maskLayer maskLayer1">
		<div class="popup">
			<div class="popupCon popupType1" v-if="popupType == 'address'">
				<h3 class="popupTitle">
					<span>全部地址</span>
					<a href="javascript:;" v-on:click="closeMaskLayer()"><img src="../../img/windowicon/bar_icon_close.png" alt="" /></a>
				</h3>
				<div class="popupDpList">
					<ul class="userModifyUl">
						<li>
							<input type="text" v-model="queryParam1.locationName" placeholder="请输入地址名称" />
						</li>
						<li>
							<input type="text" v-model="queryParam1.locationCode" placeholder="请输入地址编码" />
						</li>
						<li class="userModifyBtn">
							<span v-on:click="getSearchVal1()">查询</span>
						</li>
					</ul>
					<table>
						<thead>
						<tr>
							<th>序号</th>
							<th>地址简称</th>
							<th>地址编码</th>
							<th>地址类型</th>
							<th>详细地址</th>
							<th>关联编码&nbsp;[上级]</th>
							<th>关联名称&nbsp;[上级]</th>
							<th>关联详情&nbsp;[上级]</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(addressItem,index) in addressList" v-on:click="selectAddress(addressItem,index)">
							<td v-if="currentPage1 == 1"><p>{{index+1}}</p></td>
							<td v-if="currentPage1 != 1"><p>{{(index+1)+((currentPage1-1)*12)}}</p></td>
							<td><p>{{addressItem.locationName}}</p></td>
							<td><p>{{addressItem.locationCode}}</p></td>
							<td>
								<p v-for="locationTypeItem in selectListData.locationTypeList" v-if="locationTypeItem.code == addressItem.locationType">{{locationTypeItem.text}}</p>
							</td>
							<td><p>{{addressItem.address}}</p></td>
							<td>
								<p v-if="addressItem.eqpNo != null"><span class="tableRemarkSpan">设备号：</span>{{addressItem.eqpNo}}</p>
								<p v-if="addressItem.contactTel != null"><span class="tableRemarkSpan">联系人电话：</span>{{addressItem.contactTel}}</p>
								<p v-if="addressItem.partyCode != null"><span class="tableRemarkSpan">合作商编码：</span>{{addressItem.partyCode}}</p>
							</td>
							<td>
								<p v-if="addressItem.eqpName != null"><span class="tableRemarkSpan">设备名称:</span>{{addressItem.eqpName}}</p>
								<p v-if="addressItem.contactName != null"><span class="tableRemarkSpan">联系人姓名：</span>{{addressItem.contactName}}</p>
								<p v-if="addressItem.partyName != null"><span class="tableRemarkSpan">合作商名称：</span>{{addressItem.partyName}}</p>
							</td>
							<td>
								<p v-if="addressItem.eqpType != null">
									<span v-for="eqpTypeItem in selectListData.eqpTypeList" v-if="eqpTypeItem.code == addressItem.eqpType">
										<span class="tableRemarkSpan">设备类型：</span>{{eqpTypeItem.text}}
									</span>
								</p>
								<p v-if="addressItem.contactType != null">
									<span v-for="contactTypeItem in selectListData.contactLists" v-if="contactTypeItem.code == addressItem.contactType">
										<span class="tableRemarkSpan">联系人类型：</span>{{contactTypeItem.text}}
									</span>
								</p>
								<p v-if="addressItem.partyType != null">
									<span v-for="contactTypeItem in selectListData.partyTypeList" v-if="contactTypeItem.code == addressItem.partyType">
										<span class="tableRemarkSpan">合作商类型：</span>{{contactTypeItem.text}}
									</span>
								</p>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="paging">
						<p class="totalPages">共{{pageList1.length}}页/{{totalPagesNum1}}条</p>
						<div class="pagingBox">
							<span v-if="currentPage1 != 1" v-on:click="changePage1(currentPage1-1,'up')"><a href="javascript:;">«</a></span>
							<div class="pagingCon">
								<ul class="pagination">
									<li v-for="pageItem in pageList1" v-on:click="changePage1(pageItem,'current')"><a v-bind:class="{'active': pageItem == currentPage1 }" href="javascript:;">{{pageItem}}</a></li>
								</ul>
							</div>
							<span v-if="pageList1.length != 0 && currentPage1 != pageList1.length" v-on:click="changePage1(currentPage1+1,'down')"><a href="javascript:;">»</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="popupCon popupType2" v-if="popupType == 'device'">
				<h3 class="popupTitle">
					<span>全部设备</span>
					<a href="javascript:;" v-on:click="closeMaskLayer()"><img src="../../img/windowicon/bar_icon_close.png" alt="" /></a>
				</h3>
				<div class="popupDpList">
					<ul class="userModifyUl">
						<li>
							<select v-model="queryParam2.eqpType" name="">
								<option value="">全部设备类型</option>
								<option  v-for="eqpTypeItem in selectListData.eqpTypeList"  v-bind:value="eqpTypeItem.code">{{eqpTypeItem.text}}</option>
							</select>
						</li>
						<li>
							<input type="text" v-model="queryParam2.eqpSpec" placeholder="请输入设备型号" />
						</li>
						<li>
							<input type="text" v-model="queryParam2.eqpNo" placeholder="请输入设备号" />
						</li>
						<li>
							<input type="text" v-model="queryParam2.eqpName" placeholder="请输入设备名称" />
						</li>
						<li class="userModifyBtn">
							<span v-on:click="getSearchVal2()">查询</span>
						</li>
					</ul>
					<table>
						<thead>
						<tr>
							<th>序号</th>
							<th>设备类型</th>
							<!--<th>设备品牌</th>-->
							<th>设备型号</th>
							<th>设备号</th>
							<th>设备名称</th>
							<th>长[米]&nbsp;*&nbsp;宽[米]&nbsp;*&nbsp;高[米]</th>
							<th>客户量&nbsp;/&nbsp;装载量</th>
							<th>关联编码&nbsp;[上级]</th>
							<th>关联名称&nbsp;[上级]</th>
							<th>关联详情&nbsp;[上级]</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(deviceItem,index) in deviceList" v-on:click="selectDqFun(deviceItem,index)">
							<td v-if="currentPage2 == 1"><p>{{index+1}}</p></td>
							<td v-if="currentPage2 != 1"><p>{{(index+1)+((currentPage2-1)*12)}}</p></td>
							<td><p v-for="eqpTypeItem in selectListData.eqpTypeList" v-if="eqpTypeItem.code == deviceItem.eqpType">{{eqpTypeItem.text}}</p></td>
							<!--<td><p>{{deviceItem.eqpBrand}}</p></td>-->
							<td><p>{{deviceItem.eqpSpec}}</p></td>
							<td><p>{{deviceItem.eqpNo}}</p></td>
							<td><p>{{deviceItem.eqpName}}</p></td>
							<td>
								<span v-if="deviceItem.eqpLength != null">{{deviceItem.eqpLength}}&nbsp;*&nbsp;</span>
								<span v-if="deviceItem.eqpWidth != null">{{deviceItem.eqpWidth}}&nbsp;*&nbsp;</span>
								<span v-if="deviceItem.eqpHeight != null">{{deviceItem.eqpHeight}}</span>
							</td>
							<td>
								<span v-if="deviceItem.eqpStr2 != null">{{deviceItem.eqpStr2}}&nbsp;/</span>
								<span v-if="deviceItem.eqpStr1 != null">{{deviceItem.eqpStr1}}</span>
							</td>
							<td>
								<p v-if="deviceItem.locationCode != null"><span class="tableRemarkSpan">地址编码：</span>{{deviceItem.locationCode}}</p>
								<p v-if="deviceItem.contactTel != null"><span class="tableRemarkSpan">联系人电话：</span>{{deviceItem.contactTel}}</p>
								<p v-if="deviceItem.partyCode != null"><span class="tableRemarkSpan">合作商编码：</span>{{deviceItem.partyCode}}</p>
							</td>
							<td>
								<p v-if="deviceItem.locationName != null"><span class="tableRemarkSpan">地址简称：</span>{{deviceItem.locationName}}</p>
								<p v-if="deviceItem.contactName != null"><span class="tableRemarkSpan">联系人姓名：</span>{{deviceItem.contactName}}</p>
								<p v-if="deviceItem.partyName != null"><span class="tableRemarkSpan">合作商名称：</span>{{deviceItem.partyName}}</p>
							</td>
							<td>
								<p v-if="deviceItem.locationType != null">
									<span v-for="locationTypeItem in selectListData.locationTypeList" v-if="locationTypeItem.code == deviceItem.locationType">
										<span class="tableRemarkSpan">地址类型：</span>{{locationTypeItem.text}}
									</span>
								</p>
								<p v-if="deviceItem.contactType != null">
									<span v-for="contactTypeItem in selectListData.contactLists" v-if="contactTypeItem.code == deviceItem.contactType">
										<span class="tableRemarkSpan">联系人类型：</span>{{contactTypeItem.text}}
									</span>
								</p>
								<p v-if="deviceItem.partyType != null">
									<span v-for="contactTypeItem in selectListData.partyTypeList" v-if="contactTypeItem.code == deviceItem.partyType">
										<span class="tableRemarkSpan">合作商类型：</span>{{contactTypeItem.text}}
									</span>
								</p>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="paging">
						<p class="totalPages">共{{pageList2.length}}页/{{totalPagesNum2}}条</p>
						<div class="pagingBox">
							<span v-if="currentPage2 != 1" v-on:click="changePage2(currentPage2-1,'up')"><a href="javascript:;">«</a></span>
							<div class="pagingCon">
								<ul class="pagination">
									<li v-for="pageItem in pageList2" v-on:click="changePage2(pageItem,'current')"><a v-bind:class="{'active': pageItem == currentPage2 }" href="javascript:;">{{pageItem}}</a></li>
								</ul>
							</div>
							<span v-if="pageList2.length != 0 && currentPage2 != pageList2.length" v-on:click="changePage2(currentPage2+1,'down')"><a href="javascript:;">»</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../../js/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../../js/lib/vue.js"></script>
<script type="text/javascript" src="../../js/lib/ajaxFileUpload.js"></script>
<script type="text/javascript">
    document.write("<s" + "cript type='text/javascript' src='../../js/common/publicHtml.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/public.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/common/htmlSelect.js?v=" + pageVerson + "'></s" + "cript>");
    document.write("<s" + "cript type='text/javascript' src='../../js/cdm/contactInfo.js?v=" + pageVerson + "'></s" + "cript>");
</script>

</body>
</html>






